
<h1>РК № 2 Спасскова К.А. ИУ6-35Б Билет № 7</h1>
  <p>
    Дан массив чисел. Найти частное от деления минимального элемента массива на максимальный. Поместить на место первого отрицательного элемента массива.
  </p>

  <%= form_tag('/elem/result.json', :method => "get", remote:true, id:'form', class: 'form-control', style: 'width: 60%;') do %>
    <%= label_tag("Введите массив") %>
    <%= text_field_tag :arr, "1 2 3 4" , class: 'form-control', id: 'arr' %> <br/>
    <%= submit_tag("calculate", class: 'btn btn-primary', id: 'btn') %>
  <% end %>
    <div id = 'res'></div>
